* {
    margin: 0%;
    padding: 0%;
}

.Forum {
    display: flex;
    flex-direction: column;
}

.ForumContent {
    margin-left: 250px;
    /* Deja espacio para el Sidebar */
    margin-top: 60px;
    /* Deja espacio para el Navbar */
    padding: 20px;
}

.Posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    max-height: 80vh;
    /* Ajusta la altura según el espacio disponible */
    overflow-y: scroll;
}

.cardPost {
    background-color: #F6F6F6;
    align-items: center;
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    color: #606060;
    box-shadow: 8.5px 7.5px 4px rgba(0, 0, 0, 0.1);

}

.postLikes {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    margin: 20px;
    color: #15794E;
}

.postTitulo {
    font-size: 25px;
    font-weight: bold;
    color: #1C1B1F;
}

.postContenido {
    font-size: 20px;
}

.postComentarios {
    font-size: 50px;
}

.headerPost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    /* Se quedará en la parte superior cuando hagas scroll */
    background-color: white;
    /* Fondo blanco para evitar que se solape con los posts */
    z-index: 10;
    /* Aseguramos que esté encima de los posts */
    padding-bottom: 10px;
}

.newPostButton {
    background-color: #15794E;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px;
    width: 200px;
    border: none;
    transition: background-color 0.3s ease;

}

.newPostButton:hover {
    background-color: #1C1B1F;
}

a {
  color: inherit;
  text-decoration: none;
}





/*Modal para hacer nuevo post*/
.modalBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: rgb(255, 255, 255);
    padding: 20px 30px;
    border-radius: 10px;
    width: 500px;
    max-width: 900px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

/*---Generales---*/
.modalContent input,
.modalContent textarea {
    width: 100%;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-indent: 10px; 
}

/*---Especificos---*/
.modalContent input {
    padding: 10px 0px;
    margin: 5px 0px;
}

.modalContent textarea {
    height: 200px;
    padding: 10px 0px;
}

.modalButtons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding-top: 5px;
}

.primaryButton{
    background-color: #21AC6D;
    color: #FFFFFF;
    width: 100px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    border-radius: 100px;
    border: none;
    transition: background-color 0.1s ease;
}

.primaryButton:hover {
    background-color: #1C1B1F;
}
