.postDetailsContent {
    margin-left: 250px;
    margin-top: 60px;
    padding: 20px;
    height: 90vh;
}

.cardPostDetails {
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    border-radius: 10px;
    color: #606060;
    background-color: #F6F6F6;
    box-shadow: 8.5px 7.5px 4px rgba(0, 0, 0, 0.1);   
    gap: 20px;
}

.returnButton {
    font-size: 50px;
    color: #21AC6D;
}

.returnButton :hover{
    color: #15794E;
}

.detailsPost{
    font-size: 30px;
    text-align: justify;
}

.commentsSection{
    margin-top: 20px;
}

.inputSesion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formComment{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

.formComment textarea{
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    border-radius: 10px;
    font-size: 16px;
    padding: 20px;
    border: 1px solid #CCCCCC;
    resize: none;
    background-color: #F6F6F6;
}

.formComment .primary{
    align-self: flex-end;
    margin-bottom: 10px;
    height: 40px;
    width: 10%;
    font-size: 16px;
}
