body{
    padding: 0%;
    margin: 0%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.Forum {
   display: flex; 
   flex-direction: column;
}

.ForumContent {
    display: flex;
    flex-direction: row;
}