.Navbar {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 70px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.Logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.UTSlogo {
  height: 50px;
  margin: 10px;
  padding-right: 10px;
}

.Learn {
  color: #21ac6d;
  font-size: 30px;
  font-weight: bold;
}

.Hub {
  color: #15794e;
  font-size: 30px;
  font-weight: bold;
  padding-right: 20px;
}

.Categorias {
  display: flex;
  flex-direction: row;
}

.Categorias p {
  font-size: 50px;
  font-weight: lighter;
  color: #dddddd;
}

.ContainerLogoCat {
  display: flex;
  align-items: center;
}

.itemCategory {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3d3d3d;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  gap: 5px;
}

.item:hover {
  background-color: #15794e;
  color: white;
  border-radius: 10px;
}

.buscador {
  position: relative;
}

.buscador img {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
}

.buscador input {
  height: 30px;
  width: 200px;
  border-radius: 10px;
  border-width: 1px;
  padding-left: 20px;
  margin: 10px;
}

.boxIcons {
  font-size: 30px;
}

.navBarItem {
  font-size: 22px;
  font-weight: bold;
}

.itemCategory.active {
  background-color: #21ac6d;
  color: white;
  border-radius: 10px;
}

.itemCategory.active :hover {
  background-color: #21ac6d;
}

@media (max-width: 1060px){
  .Learn {
    display: none;
  }

  .Hub {
    display: none;
  }

  .UTSlogo {
    display: none;
  }
  
  .Navbar {
    display: flex;
    justify-content: center;
  }

  .Logo {
    display: none;
  }
}

@media (max-width: 840px){
  .tabTag {
    display: none;
  }

  .item{
    width: 16vw;
  }
}