.sidebar {
    width: 20%;
    height: 100vh;

      position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px; /* Ajusta el tamaño de tu Sidebar */
  overflow-y: auto;
  z-index: 5;
  padding-top: 60px; /* Asegúrate de que no se solape con el Navbar */
}

.sidebarContent {
    margin: 20px;
    padding: 10px;
}

.sidebar li {
    margin-top: 20px;
    margin-bottom: 20px;
}
