.cardToolsPost {
  display: flex;
  margin: 10px;
  color: #606060;
  background-color: #f6f6f6;
  border-radius: 30px;
  box-shadow: 8.5px 7.5px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  min-width: 300px;
  max-height: 100%;
  min-height: 550px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.containerToolsPost {
  display: flex;
  flex-direction: column;
}

.containerToolsPostTitle h1 {
    margin-top: 20px;
    margin-left: 5px;
}

.containerToolsPostTitle p {
    margin: 5px 0px;
}

.containerToolsPostImage img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.containerToolsDescription {
    display: flex;
    justify-content: center;
}

.containerToolsDescription p {
  text-align: justify;
  width: 90%;
  margin-top: 20px;
}

.containerToolsButton {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.descriptionButton {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 900px){
    .cardToolsPost{
        width: 40%;
    }
}

@media (max-width: 680px){
    .cardToolsPost{
        width: 80%;
    }
}