.cardNewsPost {
    display: flex;
    margin: 10px;
    color: #606060;
    background-color: #F6F6F6;
    border-radius: 30px;
    box-shadow: 8.5px 7.5px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    min-width: 340px;
}

.newsPost img {
    height: clamp(200px, 30vw, 400px);
    width: 100%;
    object-fit: cover;
}

.containerNewsPost {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px;
}

.containerNewsPostInformation{
    box-sizing: border-box;
    padding: 10px 26px;
    width: 100%;
}

.containerNewsPostInformation h1{
    font-size: clamp(1.25rem, 1.36vi + 0.91rem, 2rem);
}

.containerDescription {
    padding: 10px 26px;
    text-align: justify;
    font-size: (1.25rem, 4.09vi + 0.23rem, 3.5rem);
}